html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  bottom: 1em;
}

body {
  margin: 0;
}

.banner {
  margin: 0;
}

.banner-body {
  display: inline;
  position: absolute;
  bottom: 30em;
  transform: translate(5%, 5em);
  max-height: 500px;
  max-width: 50em;
}

h2 {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  color: white;
  margin: 0;
  max-height: 500px;
  font-weight: bold;
  max-width: 50em;
  overflow: hidden;
}

span {
  background-color: rgba(0, 0, 0, .5);
  line-height: 1.4;
}

.banner-body p {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  float: left;
  margin: 30px 0 0;
  font-style: italic;
  line-height: 1.5;
}
